<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Food</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="../node_modules/slick-slider/slick.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body  data-spy="scroll">
<!--start navigation bar-->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html"><img src="../assets/images/res_logo.png" alt="logo"></a>
            <span class="toggle-order-now hidden-lg hidden-md">
               <a href="#" class="btn btn_order_now">ORDER NOW</a>
            </span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Contact</a></li>
                <li class="visible-lg visible-md"><a href="#" class="btn btn_order_now">ORDER NOW</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--end nav-->
<!--outer_body-->
<div class="outer_body no-padding">
    <!--start check_out_box-->
    <div class="check_out_box parallax-window" data-parallax="scroll" data-image-src="../assets/images/check-out-img.png">
        <div class="wrapper-box">
            <h2>
                Order Food Delivery From your <span>Favorite</span> Restaurants
            </h2>
            <p>delivering to your door</p>
        </div>
    </div>
    <!--end check_out_box-->

    <!--heading-line-->
    <div class="heading-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>McDonald's - Satyana can <span>deliver</span> to you at Madina Town (Faislabad)</h2>
                </div>
            </div>
        </div>
    </div>
    <!--end heading-line-->

    <!--checkout-update dismiss-->
    <div class="container">
        <div class="alert checkout-update alert-dismissable">
            <h2 class="pull-left"> <span><i class="fa fa-exclamation-circle"></i></span> returing customer?
            </h2> <span class="pull-right"><a href="#" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a></span>
        </div>
    </div>
    <!--end checkout-update dismiss-->
    <div class="container">
        <div class="info-checkout">
            If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.
        </div>
    </div>

    <!--form fill-->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12 col-md-offset-4">
                <div class="checkout-form">
                    <form>
                        <div class="form-group">
                            <label for="email">Username / email <span>*</span></label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password <span>*</span></label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="c1" name="cc" checked />
                            <label for="c1"><span></span>Remeber Me</label>
                        </div>
                        <a href="#" class="btn btn-submit">LOGIN NOW</a>
                    </form>
                </div>
                <hr class="check-border">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info-checkout">
                           <i class="fa fa-user"></i> register an account?
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-checkout">
                            <i class="fa fa-unlock"></i> lost your password
                        </div>
                    </div>
                </div>
            </div>
            <hr class="check-border">
            <div class="col-md-6">
                <div class="checkout-form">
                    <h2>billing details</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="e">First name<span>*</span></label>
                                    <input type="text" class="form-control" id="e">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="r">Last name <span>*</span></label>
                                    <input type="text" class="form-control" id="r">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dd">Company Name <span>*</span></label>
                                    <input type="text" class="form-control" id="dd">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="g">Area <span>*</span></label>
                                    <input type="text" class="form-control" id="g">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="rrt">Address <span>*</span></label>
                                    <input type="text" class="form-control margin-btm" placeholder="Street Address" id="rrt">
                                    <input type="text" class="form-control" placeholder="Apartment Address Optional">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fg">City <span>*</span></label>
                                    <input type="text" class="form-control" id="fg">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gt">Country <span>*</span></label>
                                    <input type="text" class="form-control" id="gt">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gh">postCode / zip <span>*</span></label>
                                    <input type="text" class="form-control" id="gh">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="urt">Contact Info <span>*</span></label>
                                    <input type="text" class="form-control margin-btm" placeholder="Email Address" id="urt">
                                    <input type="text" class="form-control" placeholder="Phone Number">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <input type="checkbox" id="c2" name="cc" checked/>
                                    <label for="c2"><span></span>Create An Account?</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkout-form">
                    <h2>Ship to Different Address ?  <label> <input type="checkbox"></label>
                   </h2>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="1">First name<span>*</span></label>
                                    <input type="text" class="form-control" id="1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="2">Last name <span>*</span></label>
                                    <input type="text" class="form-control" id="2">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="3">Company Name <span>*</span></label>
                                    <input type="text" class="form-control" id="3">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="4">Area <span>*</span></label>
                                    <input type="text" class="form-control" id="4">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="5">Address <span>*</span></label>
                                    <input type="text" class="form-control margin-btm" placeholder="Street Address" id="5">
                                    <input type="text" class="form-control" placeholder="Apartment Address Optional">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="6">City <span>*</span></label>
                                    <input type="text" class="form-control" id="6">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="7">Country <span>*</span></label>
                                    <input type="text" class="form-control" id="7">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="8">postCode / zip <span>*</span></label>
                                    <input type="text" class="form-control" id="8">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="urt">Contact Info <span>*</span></label>
                                    <input type="text" class="form-control margin-btm" placeholder="Email Address" id="9">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="checkout-form">
                    <form action="">
                    <div class="form-group">
                        <label for="exampleTextarea">Other Note</label>
                        <textarea class="form-control" id="exampleTextarea" rows="4" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="checkout-form no-margin">
                    <h2>Your order </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive checkout-table">

                        <table class="table  table-border table-striped  table-responsive ">
                            <thead>
                            <tr>
                                <th class="text-left">Product</th>
                                <th  class="text-left">price</th>
                                <th  class="text-left">quantity</th>
                                <th  class="text-left">total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-left">
                                <td><span class="table-pro-img"><img src="../assets/images/table-img-1.png" alt="image" class="img-responsive"></span><span class="table-text-pro">Your Product Title Here</span></td>
                                <td><span class="price-table">RS1500</span></td>
                                <td class="pm-table">
                                    <a href="#"><span class="inc-dec-pro"><i class="fa fa-minus"></i></span></a>
                                    <select class="select-two">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                    </select>
                                    <a href="#"><span class="inc-dec-pro"><i class="fa fa-plus"></i></span></a>
                                </td>
                                <td><span class="table-text-pro">$10.50</span></td>

                            </tr>
                            <tr class="text-left">
                                <td><span class="table-pro-img"><img src="../assets/images/table-img-1.png" alt="image" class="img-responsive"></span><span class="table-text-pro">Your Product Title Here</span></td>
                                <td><span class="price-table">RS1500</span></td>
                                <td class="pm-table">
                                    <a href="#"><span class="inc-dec-pro"><i class="fa fa-minus"></i></span></a>
                                    <select class="select-two">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                    </select>
                                    <a href="#"><span class="inc-dec-pro"><i class="fa fa-plus"></i></span></a>

                                </td>
                                <td>
                                    <span class="table-text-pro">$10.50</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="col-md-offset-8 col-md-4">
                <div class="table-responsive checkout-table2">
                    <div class="table-total">
                        <table class="table table-border">
                            <tbody>
                            <tr>
                                <td><strong>Cart Subtotal</strong></td>
                                <td> <strong>$250</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Shipping and Handling</strong></td>
                                <td class="green"> Free Shipping</td>
                            </tr>
                            <tr>
                                <td><strong>Order Total</strong></td>
                                <td><span class="red"> $52.20</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="check-border">
    <div class="container">
        <div class="logo-slider-heading text-center">
            <h2>our amazing clients </h2>
        </div>
    </div>
    <div class="container">
        <div class="row logo-slider">
            <div class="col-md-3">
                <a href="#">
                <div class="client-logo">
                    <img src="../assets/images/client-logo.png" alt="logo" class="img-responsive">
                </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                <div class="client-logo">
                    <img src="../assets/images/client-logo.png" alt="logo" class="img-responsive">
                </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                <div class="client-logo">
                    <img src="../assets/images/client-logo.png" alt="logo" class="img-responsive">
                </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                <div class="client-logo">
                    <img src="../assets/images/client-logo.png" alt="logo" class="img-responsive">
                </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                <div class="client-logo">
                    <img src="../assets/images/client-logo.png" alt="logo" class="img-responsive">
                </div>
                    </a>
            </div>
        </div>
    </div>
    <!--end here-->
</div>
<!--end outer_body-->
<footer class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="address">
                    <i class="fa fa-phone"></i>
                    <p>3333 222 1111 <br>
                        1 800 1234 Hello</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="address">
                    <i class="fa fa-envelope-o"></i>
                    <p>hello@huge.com <br>
                        Info@huge.com</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="address">
                    <i class="fa fa-map-marker"></i>
                    <p>99 Barnard St - Suite 111 <br>
                        United States - GA 22222 </p>
                </div>
            </div>
            <div class="col-sm-12">
                <span class="social-icon">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest-square"></i></a>
                </span>
            </div>
            <div class="col-sm-12">
                <div class="copyright">
                    <h4>&copy; <a href="#">Hello food</a></h4>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--javascript files-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../node_modules/parallax/parallax.min.js"></script>
<script src="../node_modules/slick-slider/slick.min.js"></script>
<script src="../assets/dist/app.js"></script>
<!--end -->
</body>
</html>