@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Raleway:400,600,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
/* line 8, ../sass/app.scss */
.no-margin {
  margin: 0 !important;
}

/* line 12, ../sass/app.scss */
.add-padding {
  padding: 15px !important;
}

/* line 16, ../sass/app.scss */
.add-margin {
  margin: 15px !important;
}

/* line 19, ../sass/app.scss */
.no-border {
  border: none !important;
}

/* line 22, ../sass/app.scss */
.no-padd {
  padding: 0 !important;
}

/* line 26, ../sass/app.scss */
body {
  height: 100%;
  width: 100%;
  clear: both;
}

/* line 32, ../sass/app.scss */
.navbar-default {
  border: none;
  background-color: rgba(0, 17, 21, 0.8);
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* line 41, ../sass/app.scss */
.navbar-brand {
  padding: 0 5px;
}
/* line 43, ../sass/app.scss */
.navbar-brand img {
  max-height: 49px;
}

/* line 50, ../sass/app.scss */
.navbar-default .navbar-nav li a {
  color: #ffffff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  transition-duration: .4s;
  font-family: "Open sans", sans-serif;
  padding-left: 28px;
  padding-right: 28px;
}
/* line 59, ../sass/app.scss */
.navbar-default .navbar-nav li a:hover {
  color: #d50905;
  transition-duration: .4s;
}
/* line 63, ../sass/app.scss */
.navbar-default .navbar-nav li a:focus {
  color: #d50905;
  transition-duration: .4s;
}

/* line 73, ../sass/app.scss */
.navbar-default .navbar-toggle {
  border-radius: 0;
  border-color: #ffffff;
}
/* line 76, ../sass/app.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* line 81, ../sass/app.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #d50905;
}

/* line 85, ../sass/app.scss */
.wrapper_bg {
  height: 100vh;
  width: 100%;
  background: url("../images/index_bg.jpg") center/cover no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  background-attachment: fixed;
  text-align: center;
}
/* line 94, ../sass/app.scss */
.wrapper_bg .wrapper-box {
  float: left;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 99, ../sass/app.scss */
.wrapper_bg .wrapper-box h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 106, ../sass/app.scss */
.wrapper_bg .wrapper-box h2 span {
  color: #d50905;
}
/* line 110, ../sass/app.scss */
.wrapper_bg .wrapper-box p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* line 121, ../sass/app.scss */
.btn_order_now {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-color: #d50905;
  border-radius: 2px;
  text-transform: uppercase;
  border: 1px solid #d50905;
  transition-duration: .4s;
  font-weight: 600 !important;
}
/* line 131, ../sass/app.scss */
.btn_order_now:focus {
  color: #ffffff;
  transition-duration: .4s;
  background-color: transparent;
}
/* line 136, ../sass/app.scss */
.btn_order_now:hover {
  color: #ffffff !important;
  transition-duration: .4s;
  background-color: transparent;
}

/* line 144, ../sass/app.scss */
.toggle-order-now {
  position: fixed;
  right: 20%;
  top: 11px;
}

/* line 150, ../sass/app.scss */
.search_btn {
  float: left;
}

/* line 153, ../sass/app.scss */
.btn-search {
  padding: 0;
  height: 50px;
  width: 150px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-color: #d50905;
  border-radius: 0px 30px 30px 0px;
  text-transform: uppercase;
  border: 1px solid #d50905;
  font-weight: 600;
  transition-duration: .3s;
}
/* line 166, ../sass/app.scss */
.btn-search:hover {

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: .3s;
}
/* line 172, ../sass/app.scss */
.btn-search:focus {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

/* line 177, ../sass/app.scss */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 11px 25px;
}

/* line 180, ../sass/app.scss */
.search_boxs {
  float: left;
  width: 100%;
}
/* line 183, ../sass/app.scss */
.search_boxs .form-group {
  margin-bottom: 0;
}

/* line 192, ../sass/app.scss */
.select-res .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
}

/* line 196, ../sass/app.scss */
.select2-container--default .select2-results > .select2-results__options {
  border-left: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

/* line 202, ../sass/app.scss */
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-left: 2px solid #dcdcdc;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

/* line 209, ../sass/app.scss */
.select2-container--default .select2-selection--multiple {
  border: none;
  border-left: 2px solid #dcdcdc;
  border-radius: 0;
  height: 50px;
}

/* line 216, ../sass/app.scss */
.select2-selection__choice {
  font-family: "Montserrat", sans-serif;
}

/* line 219, ../sass/app.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  border: none;
}

/* line 223, ../sass/app.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  display: none;
}

/* line 226, ../sass/app.scss */
.select2-container .select2-search--inline .select2-search__field {
  text-transform: capitalize;
  color: #5d5d5d;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* line 233, ../sass/app.scss */
.select2-results__option[aria-selected] {
  font-family: "Raleway", sans-serif;
  padding-left: 30px;
  text-transform: capitalize;
}

/* line 238, ../sass/app.scss */
.select2-container--default .select2-results > .select2-results__options {
  max-height: 130px;
  overflow-y: auto;
}

/* line 243, ../sass/app.scss */
.outer_body {
  padding-top: 52px;
}

/* line 247, ../sass/app.scss */
.detail-bg {
  height: 500px;
  width: 100%;
  background: url("../images/detail_page_bg.jpg") center/cover no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-bottom: 25px;
  background-attachment: fixed;
}
/* line 257, ../sass/app.scss */
.detail-bg .wrapper-box {
  float: left;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 262, ../sass/app.scss */
.detail-bg .wrapper-box h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 1.4;
}
/* line 270, ../sass/app.scss */
.detail-bg .wrapper-box h2 span {
  font-weight: 700;
}
/* line 275, ../sass/app.scss */
.detail-bg .wrapper-box .img-res img {
  max-width: 155px;
  max-height: 115px;
}

/* line 282, ../sass/app.scss */
.parallax-window {
  background: transparent;
}

/* line 285, ../sass/app.scss */
.check_out_box {
  height: 467px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  background-attachment: fixed;
}
/* line 293, ../sass/app.scss */
.check_out_box .wrapper-box {
  float: left;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 298, ../sass/app.scss */
.check_out_box .wrapper-box h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 0 0 30px;
}
/* line 305, ../sass/app.scss */
.check_out_box .wrapper-box h2 span {
  color: #d50905;
  font-weight: 700;
}
/* line 310, ../sass/app.scss */
.check_out_box .wrapper-box p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .5px;
}

/* line 321, ../sass/app.scss */
.info-checkout {
  float: left;
  width: 100%;
  margin-bottom: 25px;
  color: #a1b1bc;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
}
/* line 329, ../sass/app.scss */
.info-checkout a {
  text-decoration: none;
  color: #a1b1bc;
}
/* line 332, ../sass/app.scss */
.info-checkout a:hover {
  color: #4eb1ce;
}

/* line 337, ../sass/app.scss */
.checkout-update {
  float: left;
  width: 100%;
  background-color: #ba0909;
  padding: 14px 20px;
  margin-bottom: 25px;
  border-radius: 2px;
}
/* line 344, ../sass/app.scss */
.checkout-update h2 {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
/* line 353, ../sass/app.scss */
.checkout-update span a {
  color: #ffffff;
}
/* line 355, ../sass/app.scss */
.checkout-update span a:hover {
  color: #192522;
}

/* line 362, ../sass/app.scss */
.heading-line {
  background-color: #d50905;
  float: left;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  padding: 30px 0;
}
/* line 369, ../sass/app.scss */
.heading-line h2 {
  font-size: 24px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffdc00;
  margin: 0;
}
/* line 377, ../sass/app.scss */
.heading-line h2 span {
  font-weight: 600;
}

/* line 382, ../sass/app.scss */
section {
  float: left;
  width: 100%;
}

/* line 386, ../sass/app.scss */
.detail-sidebar {
  float: left;
  width: 100%;
  z-index: 1;
  position: relative;
}
/* line 391, ../sass/app.scss */
.detail-sidebar .navbar {
  border: 1px solid #e9e9e9;
  background-color: #f9f9f9;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
  display: block;
}
/* line 399, ../sass/app.scss */
.detail-sidebar .navbar h4 {
  background-color: #d50905;
  color: #ffffff;
  margin: 0;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  padding: 12px 20px;
  border-radius: 0;
  width: 100%;
}
/* line 412, ../sass/app.scss */
.detail-sidebar .navbar .nav {
  float: left;
  width: 100%;
  position: relative;
  display: block;
}
/* line 417, ../sass/app.scss */
.detail-sidebar .navbar .nav li {
  transition-duration: .4s;
}
/* line 419, ../sass/app.scss */
.detail-sidebar .navbar .nav li a {
  color: #a8a8a8;
  font-weight: 600;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  text-transform: capitalize;
  text-align: left;
  transition-duration: .4s;
}
/* line 428, ../sass/app.scss */
.detail-sidebar .navbar .nav li:focus {
  background: #ddd;
}
/* line 431, ../sass/app.scss */
.detail-sidebar .navbar .nav li:hover {
  background: #ddd;
}
/* line 436, ../sass/app.scss */
.detail-sidebar .navbar .nav .head-tag a {
  color: #777;
  font-weight: 600;
  font-size: 15px;
  font-family: "Open sans", sans-serif;
  text-transform: capitalize;
  text-align: left;
}

/* line 448, ../sass/app.scss */
.main-detail {
  float: left;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  border: 1px solid #e9e9e9;
  background-color: #f9f9f9;
}
/* line 455, ../sass/app.scss */
.main-detail .detail_box {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 20px;
}
/* line 460, ../sass/app.scss */
.main-detail .detail_box h4 {
  float: left;
  width: 100%;
  font-size: 25px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  margin: 0 0 30px;
  color: #333333;
}
/* line 471, ../sass/app.scss */
.main-detail .detail_box .small-detail {
  float: left;
  width: 100%;
}
/* line 474, ../sass/app.scss */
.main-detail .detail_box .small-detail h5 {
  color: #5e5e5e;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
}
/* line 482, ../sass/app.scss */
.main-detail .detail_box .small-detail p {
  color: #999;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 0;
}

/* line 494, ../sass/app.scss */
.btn_cart {
  color: #d50905;
  background-color: transparent;
  border: 1px solid #d50905;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  transition-duration: .4s;
  text-transform: uppercase;
}
/* line 504, ../sass/app.scss */
.btn_cart i {
  font-size: 18px;
  margin-left: 5px;
}
/* line 508, ../sass/app.scss */
.btn_cart:hover {
  color: #ffffff;
  background-color: #d50905;
  transition-duration: .4s;
}
/* line 513, ../sass/app.scss */
.btn_cart:focus {
  color: #ffffff;
  background-color: #d50905;
  transition-duration: .4s;
}

/* line 519, ../sass/app.scss */
.btn_cart.active {
  color: #ffffff;
  background-color: #d50905;
}

/* line 524, ../sass/app.scss */
.no-bottom-border {
  border-bottom: none !important;
}

/* line 528, ../sass/app.scss */
.res-ser .select2-container--default .select2-selection--multiple {
  border-radius: 30px 0 0 30px;
}

/* line 532, ../sass/app.scss */
.cart-btn-box {
  padding: 20px;
  float: left;
  width: 100%;
}

/* line 538, ../sass/app.scss */
.food-banner {
  float: left;
  width: 100%;
  margin: 40px 0;
  position: relative;
}
/* line 543, ../sass/app.scss */
.food-banner img {
  max-height: 100px;
  width: 100%;
}
/* line 547, ../sass/app.scss */
.food-banner h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  position: absolute;
  top: 0;
  left: 10%;
}

/* line 559, ../sass/app.scss */
.recipe_box {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  display: block;
}
/* line 565, ../sass/app.scss */
.recipe_box img {
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
  max-height: 105px;
  display: inline-block;
}
/* line 571, ../sass/app.scss */
.recipe_box p {
  color: #444;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 15px;
}

/* line 580, ../sass/app.scss */
.cart-sidebar {
  float: left;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  border: 1px solid #e9e9e9;
  background-color: #f9f9f9;
  padding: 5px;
}
/* line 589, ../sass/app.scss */
.cart-sidebar .cart-sticker {
  float: left;
  width: 100%;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  margin-bottom: 30px;
}
/* line 596, ../sass/app.scss */
.cart-sidebar .cart-sticker h4 {
  color: #444;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  padding: 20px 10px;
}
/* line 604, ../sass/app.scss */
.cart-sidebar .cart-sticker h4 span {
  color: #444;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
/* line 611, ../sass/app.scss */
.cart-sidebar .cart-sticker h3 {
  color: #444;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 15px 20px 15px;
  border-bottom: 1px solid #dedede;
  margin: 0;
}
/* line 620, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail {
  float: left;
  width: 100%;
  padding: 10px 0 0 0;
  overflow: hidden;
  position: relative;
  transition-duration: 0.5s;
}
/* line 627, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail p {
  color: #969696;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  border-bottom: 1px solid #dedede;
  padding: 0 15px 10px 15px;
  margin-bottom: 0;
  float: left;
  width: 100%;
}
/* line 638, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail p span {
  float: left;
  margin-right: 15px;
  height: 60px;
  position: relative;
  top: 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
/* line 652, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail .overlay-shadow {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  background: rgba(213, 9, 5, 0.7);
  z-index: 100;
}
/* line 660, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail .overlay-shadow .overlay-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 664, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail .overlay-shadow .overlay-inner .close_btn {
  float: right;
  width: 100%;
  text-align: right;
  position: relative;
}
/* line 669, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail .overlay-shadow .overlay-inner .close_btn i {
  color: #fff;
  position: absolute;
  left: 90%;
  top: 45px;
  transition-duration: 0.3s;
  font-size: 20px;
}
/* line 676, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail .overlay-shadow .overlay-inner .close_btn i:hover {
  color: whitesmoke;
  transition-duration: 0.3s;
}
/* line 687, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail:hover {
  transition-duration: 0.5s;
}
/* line 689, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail:hover .overlay-shadow {
  top: 0;
  transition-duration: 0.5s;
}
/* line 693, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail:hover .plus {
  display: block !important;
  transition-duration: 0.5s;
  z-index: 1000;
}
/* line 698, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail:hover .minus {
  display: block !important;
  transition-duration: 0.5s;
  z-index: 1000;
}
/* line 703, ../sass/app.scss */
.cart-sidebar .cart-sticker .cart_detail:hover p span {
  color: #ffffff;
  z-index: 1000;
}
/* line 709, ../sass/app.scss */
.cart-sidebar .cart-sticker .plus {
  position: absolute;
  top: 6px;
  left: 12px;
  display: none;
  transition-duration: 0.3s;
}
/* line 715, ../sass/app.scss */
.cart-sidebar .cart-sticker .plus a {
  display: block;
  text-decoration: none;
}
/* line 718, ../sass/app.scss */
.cart-sidebar .cart-sticker .plus a span {
  width: 15px;
  height: 15px;
  display: block;
  text-align: center;
  background: #ffffff;
  color: #444444;
  line-height: 1;
  border: 1px solid #999;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  z-index: 100;
}
/* line 731, ../sass/app.scss */
.cart-sidebar .cart-sticker .plus a span:hover {
  background: #4CAF50;
  color: #ffffff;
}
/* line 738, ../sass/app.scss */
.cart-sidebar .cart-sticker .minus {
  position: absolute;
  top: 41px;
  left: 12px;
  display: none;
}
/* line 743, ../sass/app.scss */
.cart-sidebar .cart-sticker .minus a {
  display: block;
  text-decoration: none;
}
/* line 746, ../sass/app.scss */
.cart-sidebar .cart-sticker .minus a span {
  width: 15px;
  height: 15px;
  display: block;
  text-align: center;
  background: #ffffff;
  border: 1px solid #999;
  line-height: 0.8;
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
/* line 758, ../sass/app.scss */
.cart-sidebar .cart-sticker .minus a span:hover {
  background: #4CAF50;
  color: #ffffff;
}
/* line 765, ../sass/app.scss */
.cart-sidebar .cart-sticker h6 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #969696;
  padding: 15px 10px;
  text-transform: capitalize;
  float: left;
  width: 100%;
  margin: 0;
}
/* line 776, ../sass/app.scss */
.cart-sidebar .cart-sticker h5 {
  border-bottom: 1px solid #dedede;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0b8daa;
  padding: 15px 10px;
  text-transform: capitalize;
  float: left;
  width: 100%;
  margin: 0;
}
/* line 788, ../sass/app.scss */
.cart-sidebar .cart-sticker h2 {
  border-bottom: 1px solid #dedede;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0b8daa;
  padding: 15px 10px;
  text-transform: capitalize;
  float: left;
  width: 100%;
  margin: 0;
}
/* line 789, ../sass/app.scss */
.cart-sidebar .cart-sticker h2 .pull-left {
  color: #969696;
  font-size: 14px;
  font-weight: 400;
}

/* line 808, ../sass/app.scss */
.btn-checkout.active {
  color: #d50905;
  background-color: transparent;
}

/* line 812, ../sass/app.scss */
.btn-submit {
  color: #ffffff;
  background-color: #ba0909;
  border: 1px solid #d50905;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  transition-duration: .4s;
  text-transform: uppercase;
  padding: 12px 18px;
}
/* line 823, ../sass/app.scss */
.btn-submit:hover {
  color: #ba0909;
  background-color: transparent;
  transition-duration: .4s;
}
/* line 828, ../sass/app.scss */
.btn-submit:focus {
  color: #ba0909;
  background-color: transparent;
}

/* line 833, ../sass/app.scss */
.btn-checkout {
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #d50905;
  border: 1px solid #d50905;
  border-radius: 4px;
  font-size: 13px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  transition-duration: .4s;
  text-transform: uppercase;
}
/* line 844, ../sass/app.scss */
.btn-checkout:hover {
  color: #d50905;
  background-color: transparent;
  transition-duration: .4s;
}
/* line 849, ../sass/app.scss */
.btn-checkout:focus {
  color: #d50905;
  background-color: transparent;
  transition-duration: .4s;
}

/* line 855, ../sass/app.scss */
.check_btn_box {
  float: left;
  width: 100%;
  margin: 20px 0;
  padding: 0 12px;
}

/* line 861, ../sass/app.scss */
.sidebar_fixed {
  position: fixed !important;
  width: 230px !important;
  height: 100vh;
  overflow: scroll;
  top: 10%;
}

/* line 869, ../sass/app.scss */
.d {
  display: none;
  position: relative;
}

/* line 874, ../sass/app.scss */
.checkout-form {
  float: left;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}
/* line 879, ../sass/app.scss */
.checkout-form h2 {
  margin: 0 0 30px;
  font-size: 24px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  color: #2c3e50;
  text-transform: capitalize;
}
/* line 889, ../sass/app.scss */
.checkout-form  .checkbox label {
  padding-left: 0;
}
/* line 892, ../sass/app.scss */
.checkout-form  .checkbox input[type="checkbox"] {
  display: none;
}
/* line 896, ../sass/app.scss */
.checkout-form  .checkbox input[type="checkbox"] + label {
  color: #a1b1bc;
  margin-bottom: 30px;
}
/* line 901, ../sass/app.scss */
.checkout-form  .checkbox input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(../images/check_sheet.png) left top no-repeat;
  cursor: pointer;
}
/* line 911, ../sass/app.scss */
.checkout-form  .checkbox input[type="checkbox"]:checked + label span {
  background: url(../images/check_sheet.png) -19px top no-repeat;
}
/* line 916, ../sass/app.scss */
.checkout-form  .form-group {
  margin-bottom: 20px;
}
/* line 918, ../sass/app.scss */
.checkout-form  .form-group textarea {
  font-family: "Open sans", sans-serif;
  border: 1px solid #e3e6e9;
  border-radius: 2px;
  outline: none;
}
/* line 924, ../sass/app.scss */
.checkout-form  .form-group input {
  border-radius: 2px;
  border: 1px solid #e3e6e9;
  color: #444444;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  height: 40px;
  outline: none;
  box-shadow: none;
}
/* line 934, ../sass/app.scss */
.checkout-form  .form-group ::-webkit-input-placeholder {
  color: #a1b1bc;
}
/* line 937, ../sass/app.scss */
.checkout-form  .form-group :-moz-placeholder {
  /* Firefox 18- */
  color: #a1b1bc;
}
/* line 940, ../sass/app.scss */
.checkout-form  .form-group ::-moz-placeholder {
  /* Firefox 19+ */
  color: #a1b1bc;
}
/* line 943, ../sass/app.scss */
.checkout-form  .form-group :-ms-input-placeholder {
  color: #a1b1bc;
}
/* line 946, ../sass/app.scss */
.checkout-form  .form-group label {
  color: #34495e;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
/* line 952, ../sass/app.scss */
.checkout-form  .form-group label span {
  color: #d50905;
}

/* line 960, ../sass/app.scss */
.check-border {
  float: left;
  width: 100%;
  margin: 0 0 20px;
}

/* line 965, ../sass/app.scss */
.margin-btm {
  margin-bottom: 10px;
}

/* line 971, ../sass/app.scss */
b {
  font-family: "Open sans", sans-serif;
}

/* line 976, ../sass/app.scss */
.checkout-table .table > tbody > tr > td, .checkout-table .table > tbody > tr > th, .checkout-table .table > tfoot > tr > td, .checkout-table .table > tfoot > tr > th, .checkout-table .table > thead > tr > td, .checkout-table .table > thead > tr > th {
  border: none;
  padding: 32px 20px;
}
/* line 980, ../sass/app.scss */
.checkout-table .table > tbody > tr > td, .checkout-table .table > tbody > tr > th, .checkout-table .table > tfoot > tr > td, .checkout-table .table > tfoot > tr > th {
  border: none;
  padding: 20px 20px;
}
/* line 984, ../sass/app.scss */
.checkout-table .table-border {
  border: 1px solid #eaf0f2;
}
/* line 986, ../sass/app.scss */
.checkout-table .table-border th {
  color: #2c3e50;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  text-transform: uppercase;
  background-color: #ecf0f1;
  font-weight: 700;
}
/* line 993, ../sass/app.scss */
.checkout-table .table-pro-img {
  margin-right: 30px;
  float: left;
  max-width: 70px;
  position: relative;
  overflow: hidden;
}
/* line 999, ../sass/app.scss */
.checkout-table .table-pro-img img {
  max-width: 70px;
}
/* line 1004, ../sass/app.scss */
.checkout-table .table-text-pro {
  color: #a1b1bc;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  float: left;
  position: relative;
  line-height: 3;
}
/* line 1013, ../sass/app.scss */
.checkout-table .price-table {
  color: #9d9d9d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 3;
}
/* line 1019, ../sass/app.scss */
.checkout-table .select-two {
  font-size: 14px;
  padding: 6px 12px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: pointer;
  color: #2c3e50;
  border-radius: 5px;
  border: 1px solid #b8c6d0;
}
/* line 1028, ../sass/app.scss */
.checkout-table .select-two option {
  font-family: "Open Sans", sans-serif;
}
/* line 1031, ../sass/app.scss */
.checkout-table .img-icon {
  position: relative;
  top: 5px;
}
/* line 1035, ../sass/app.scss */
.checkout-table .inc-dec-pro {
  border: 1px solid #b8c6d0;
  padding: 2px 6px;
}
/* line 1038, ../sass/app.scss */
.checkout-table .inc-dec-pro i {
  color: #b8c6d0;
}

/* line 1044, ../sass/app.scss */
.checkout-table2 td {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}
/* line 1047, ../sass/app.scss */
.checkout-table2 td strong {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  color: #2c3e50;
}
/* line 1053, ../sass/app.scss */
.checkout-table2 .table > tbody > tr > td, .checkout-table2 .table > tbody > tr > th, .checkout-table2 .table > tfoot > tr > td, .checkout-table2 .table > tfoot > tr > th, .checkout-table2 .table > thead > tr > td, .checkout-table2 .table > thead > tr > th {
  border: none;
  padding: 32px 20px;
}
/* line 1057, ../sass/app.scss */
.checkout-table2 .table > tbody > tr > td, .checkout-table2 .table > tbody > tr > th, .checkout-table2 .table > tfoot > tr > td, .checkout-table2 .table > tfoot > tr > th {
  border: none;
  padding: 20px 20px;
}
/* line 1061, ../sass/app.scss */
.checkout-table2 .table-border {
  border: none;
}
/* line 1063, ../sass/app.scss */
.checkout-table2 .table-border th {
  color: #2c3e50;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  text-transform: uppercase;
  background-color: #ecf0f1;
  font-weight: 700;
}
/* line 1070, ../sass/app.scss */
.checkout-table2 .green {
  color: #7bc200;
}
/* line 1072, ../sass/app.scss */
.checkout-table2 .red {
  color: #ba0909;
}

/* line 1076, ../sass/app.scss */
.logo-slider-heading {
  float: left;
  width: 100%;
  margin-bottom: 70px;
  position: relative;
}
/* line 1081, ../sass/app.scss */
.logo-slider-heading h2 {
  margin: 0;
  font-size: 30px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  color: #313131;
  text-transform: capitalize;
}

/* line 1090, ../sass/app.scss */
.client-logo {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  border: 1px solid #f1f1f1;
  text-align: center;
  padding: 48px;
  display: block;
}
/* line 1100, ../sass/app.scss */
.client-logo img {
  display: inline-block;
  max-height: 200px;
}

/* line 1106, ../sass/app.scss */
.logo-slider .slick-prev:before, .logo-slider .slick-next:before {
  font-size: 20px;
  line-height: 0.6;
  position: relative;
  opacity: 9;
  color: #ffffff;
}
/* line 1113, ../sass/app.scss */
.logo-slider .slick-prev {
  position: absolute;
  top: -40px;
  display: block;
  width: 30px;
  left: 47%;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #d3d3d3;
  border-radius: 0;
}
/* line 1127, ../sass/app.scss */
.logo-slider .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -40px;
  right: 47.5%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: .3s;
  outline: none;
  background-color: #d3d3d3;
  border-radius: 0;
}
/* line 1143, ../sass/app.scss */
.logo-slider .slick-prev:hover, .logo-slider .slick-next:hover {
  background-color: #d50905;
  transition: .3s;
}
/* line 1146, ../sass/app.scss */
.logo-slider .slick-prev:hover .slick-prev:before, .logo-slider .slick-prev:hover .slick-next:before, .logo-slider .slick-next:hover .slick-prev:before, .logo-slider .slick-next:hover .slick-next:before {
  color: #ffffff !important;
}

/* line 1152, ../sass/app.scss */
.slick-slide {
  outline: none;
}

/* line 1155, ../sass/app.scss */
.footer-main {
  float: left;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/footer-img.png") center/cover no-repeat;
  padding: 63px 0;
}
/* line 1164, ../sass/app.scss */
.footer-main .social-icon {
  float: left;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
/* line 1169, ../sass/app.scss */
.footer-main .social-icon a {
  display: inline-block;
  margin-right: 5px;
}
/* line 1173, ../sass/app.scss */
.footer-main .social-icon a i {
  width: 33px;
  height: 33px;
  background: #4a4a4a;
  border-radius: 100%;
  transition: .3s;
  color: #6b6b6b;
  line-height: 2.3;
}
/* line 1181, ../sass/app.scss */
.footer-main .social-icon a i:hover {
  background: #d50905;
  color: #ffffff;
  transition: .3s;
}
/* line 1190, ../sass/app.scss */
.footer-main .address {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
/* line 1195, ../sass/app.scss */
.footer-main .address i {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 5px;
}
/* line 1200, ../sass/app.scss */
.footer-main .address p {
  margin: 0;
  line-height: 1.8;
  color: #969595;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

/* line 1210, ../sass/app.scss */
.copyright {
  float: left;
  width: 100%;
  text-align: center;
}
/* line 1214, ../sass/app.scss */
.copyright h4 {
  margin: 0;
  color: #969595;
  font-family: "Open sans", sans-serif;

  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 1221, ../sass/app.scss */
.copyright h4 a {
  color: #969595;
  text-decoration: none;
}
/* line 1224, ../sass/app.scss */
.copyright h4 a:hover {
  color: #ffffff;
}

/* line 1231, ../sass/app.scss */
.box_border {
  border: 1px solid #ededed;
}

/* line 1234, ../sass/app.scss */
.R_choice_box {
  padding: 25px 10px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 1239, ../sass/app.scss */
.R_choice_box .tak-div {
  float: left;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  position: relative;
}
/* line 1246, ../sass/app.scss */
.R_choice_box .next-btn {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 20px;
  text-align: center;
}
/* line 1253, ../sass/app.scss */
.R_choice_box .next-btn a {
  display: block;
  color: #b0b0b0;
}
/* line 1256, ../sass/app.scss */
.R_choice_box .next-btn a i {
  width: 27px;
  height: 27px;
  border: 1px solid #b0b0b0;
  transition: .2s;
  border-radius: 100%;
  text-align: center;
  line-height: 1.2;
  font-size: 20px;
  color: #b0b0b0;
}
/* line 1266, ../sass/app.scss */
.R_choice_box .next-btn a i:hover {
  border: 1px solid #d50905;
  color: #d50905;
  transition: .2s;
}
/* line 1275, ../sass/app.scss */
.R_choice_box .deliver-mint {
  font-size: 21px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #6d6c6c;
  float: left;
  width: 100%;
  transition: .2s;
  padding: 20px 0 30px 0;
  text-align: center;
}
/* line 1286, ../sass/app.scss */
.R_choice_box .deliver-mint a {
  color: #6d6c6c;
  transition: .3s;
  text-decoration: none;
}
/* line 1290, ../sass/app.scss */
.R_choice_box .deliver-mint a:hover {
  transition: .2s;
  color: #d50905;
}
/* line 1294, ../sass/app.scss */
.R_choice_box .deliver-mint a span {
  font-weight: 600;
}
/* line 1301, ../sass/app.scss */
.R_choice_box .tak-order {
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #111111;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 8px 5px;
  transition: .2s;
  letter-spacing: -0.3px;
  text-decoration: none;
  display: inline-block;
}
/* line 1315, ../sass/app.scss */
.R_choice_box .tak-order i {
  color: #43c808;
  font-size: 18px;
}
/* line 1319, ../sass/app.scss */
.R_choice_box .tak-order:hover {
  transition: .2s;
  border: 1px solid #43c808;
}
/* line 1325, ../sass/app.scss */
.R_choice_box .del-order {
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  transition: .2s;
  margin-bottom: 10px;
  color: #111111;
  border: 1px solid #cccccc;
  letter-spacing: -0.3px;
  border-radius: 5px;
  padding: 8px 5px;
  text-decoration: none;
  display: inline-block;
}
/* line 1339, ../sass/app.scss */
.R_choice_box .del-order:hover {
  border: 1px solid #d50905;
  transition: .2s;
}
/* line 1344, ../sass/app.scss */
.R_choice_box .del-order i {
  color: #ba0909;
  font-size: 18px;
}
/* line 1349, ../sass/app.scss */
.R_choice_box .detail-res {
  float: left;
}
/* line 1351, ../sass/app.scss */
.R_choice_box .detail-res .star-rating {
  color: #adb3b8;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
/* line 1356, ../sass/app.scss */
.R_choice_box .detail-res .star-rating a {
  display: inline-block;
  position: relative;
  transition-duration: 0.5s;
  color: #fcae19;
}
/* line 1363, ../sass/app.scss */
.R_choice_box .detail-res .star-rating:hover a:hover i:before {
  content: '\f005';
}
/* line 1369, ../sass/app.scss */
.R_choice_box .detail-res h4 {
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 6px;
  color: #33333f;
}
/* line 1376, ../sass/app.scss */
.R_choice_box .detail-res h4 a {
  transition: .2s;
  color: #33333f;
  text-decoration: none;
}
/* line 1380, ../sass/app.scss */
.R_choice_box .detail-res h4 a:hover {
  color: #d50905;
  transition: .2s;
}
/* line 1389, ../sass/app.scss */
.R_choice_box .detail-res p {
  color: #adb3b8;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: capitalize;
}
/* line 1400, ../sass/app.scss */
.R_choice_box .img-box {
  max-height: 80px;
  overflow: hidden;
  float: left;
  margin-right: 18px;
}
/* line 1405, ../sass/app.scss */
.R_choice_box .img-box a {
  display: block;
}
/* line 1407, ../sass/app.scss */
.R_choice_box .img-box a img {
  max-height: 80px;
  border: 1px solid #eeeeee;
}

/* line 1417, ../sass/app.scss */
.restaurent-list-box {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
/* line 1424, ../sass/app.scss */
.restaurent-list-box:hover .res-logo .overflow-outer {
  top: 0;
  transition: .4s ease-in-out;
}
/* line 1430, ../sass/app.scss */
.restaurent-list-box .res-logo {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 208px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}
/* line 1440, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer {
  position: absolute;
  height: 100%;
  transition: .4s ease-in-out;
  width: 100%;
  top: 100%;
  transition-duration: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(213, 9, 5, 0.8);
}
/* line 1451, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 1456, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .next-btn {
  float: left;
  width: 100%;
}
/* line 1459, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .next-btn i {
  width: 27px;
  height: 27px;
  border: 1px solid #ffffff;
  transition: .2s;
  border-radius: 100%;
  text-align: center;
  line-height: 1.2;
  font-size: 20px;
  color: #ffffff;
}
/* line 1469, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .next-btn i:hover {
  color: #444444;
  transition: .2s;
  background-color: #ffffff;
}
/* line 1476, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .tak-div {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
/* line 1481, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .tak-order {
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 8px 10px;
  transition: .2s;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 5px;
}
/* line 1494, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .tak-order i {
  color: #FFFFFF;
  font-size: 18px;
}
/* line 1498, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .tak-order:hover {
  transition: .2s;
  border: 1px solid #43c808;
  background-color: #43c808;
}
/* line 1505, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .del-order {
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  transition: .2s;
  color: #FFFFFF;
  border: 1px solid #cccccc;
  display: inline-block;
  border-radius: 5px;
  padding: 8px 10px;
  text-decoration: none;
}
/* line 1517, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .del-order:hover {
  border: 1px solid #d50905;
  transition: .2s;
  background-color: #d50905;
}
/* line 1522, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .del-order i {
  color: #FFFFFF;
  font-size: 18px;
}
/* line 1527, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .deliver-mint {
  font-size: 21px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #ffffff;
  float: left;
  width: 100%;
  transition: .2s;
  margin-bottom: 10px;
}
/* line 1528, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .deliver-mint a {
  color: #ffffff;
  transition: .3s;
  text-decoration: none;
}
/* line 1532, ../sass/app.scss */
.restaurent-list-box .res-logo .overflow-outer .overflow-inner .deliver-mint a:hover {
  transition: .2s;
  color: #4eb1ce;
}
/* line 1550, ../sass/app.scss */
.restaurent-list-box .res-logo img {
  max-height: 208px;
  width: 100%;
}
/* line 1555, ../sass/app.scss */
.restaurent-list-box .detail {
  float: left;
  width: 100%;
  padding: 18px 10px;
}
/* line 1560, ../sass/app.scss */
.restaurent-list-box .detail .detail-res a {
  color: #33333f;
  text-decoration: none;
}
/* line 1563, ../sass/app.scss */
.restaurent-list-box .detail .detail-res a h4 {
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  transition: .2s;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 6px;
}
/* line 1571, ../sass/app.scss */
.restaurent-list-box .detail .detail-res a:hover {
  color: #d50905;
  transition: .2s;
}
/* line 1576, ../sass/app.scss */
.restaurent-list-box .detail .detail-res p {
  color: #adb3b8;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 5px;
  text-transform: capitalize;
}
/* line 1587, ../sass/app.scss */
.restaurent-list-box .detail .pull-right .star-rating {
  color: #adb3b8;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 3;
}
/* line 1593, ../sass/app.scss */
.restaurent-list-box .detail .pull-right .star-rating a {
  display: inline-block;
  position: relative;
  transition-duration: 0.5s;
  color: #fcae19;
}
/* line 1600, ../sass/app.scss */
.restaurent-list-box .detail .pull-right .star-rating:hover a:hover i:before {
  content: '\f005';
}

/* line 1609, ../sass/app.scss */
.crumbs {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
/* line 1614, ../sass/app.scss */
.crumbs h2 {
  margin: 0;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  color: #444444;
  text-transform: capitalize;
}
/* line 1621, ../sass/app.scss */
.crumbs .breadcrumb > .active {
  color: #faf501;
}
/* line 1624, ../sass/app.scss */
.crumbs .breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #d50905;
  border-radius: 4px;
}
/* line 1631, ../sass/app.scss */
.crumbs .breadcrumb li a {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

/* line 1642, ../sass/app.scss */
.M-bottom-30 {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  /* line 3, ../sass/screen.scss */
  .navbar-header {
    float: none;
  }

  /* line 6, ../sass/screen.scss */
  .navbar-left, .navbar-right {
    float: none !important;
  }

  /* line 9, ../sass/screen.scss */
  .navbar-toggle {
    display: block;
    margin-top: 10px !important;
  }

  /* line 13, ../sass/screen.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 17, ../sass/screen.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 21, ../sass/screen.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 24, ../sass/screen.scss */
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  /* line 28, ../sass/screen.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 31, ../sass/screen.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 35, ../sass/screen.scss */
  .collapse.in {
    display: block !important;
  }

  /* line 38, ../sass/screen.scss */
  .navbar-nav {
    left: 0px !important;
    position: relative;
  }

  /* line 42, ../sass/screen.scss */
  .navbar-default {
    background-color: #333 !important;
  }

  /* line 46, ../sass/screen.scss */
  .res-ser .select2-container--default .select2-selection--multiple {
    border-radius: 0;
  }

  /* line 50, ../sass/screen.scss */
  .select2-container {
    margin-bottom: 25px;
  }

  /* line 53, ../sass/screen.scss */
  .form-group {
    margin-bottom: 0;
  }

  /* line 56, ../sass/screen.scss */
  .search_boxs .form-group {
    margin-left: 0;
  }

  /* line 60, ../sass/screen.scss */
  .select-res .select2-container--default .select2-selection--multiple {
    border-radius: 0;
  }

  /* line 63, ../sass/screen.scss */
  .btn-search {
    width: 100%;
    border-radius: 0;
  }

  /* line 67, ../sass/screen.scss */
  .search_btn {
    width: 100%;
  }

  /* line 70, ../sass/screen.scss */
  .search_boxs {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
  }

  /* line 74, ../sass/screen.scss */
  .wrapper_bg .wrapper-box h2 {
    font-size: 32px;
  }

  /* line 77, ../sass/screen.scss */
  .logo-slider .slick-prev {
    left: 44.8% !important;
  }

  /* line 80, ../sass/screen.scss */
  .logo-slider .slick-next {
    right: 46.2% !important;
  }
}
@media (max-width: 768px) {
  /* line 86, ../sass/screen.scss */
  .logo-slider .slick-prev, .logo-slider .slick-next {
    display: none !important;
  }

  /* line 89, ../sass/screen.scss */
  .R_choice_box .next-btn {
    padding-top: 0;
  }

  /* line 92, ../sass/screen.scss */
  .R_choice_box .tak-div {
    padding: 0px 0 10px;
  }

  /* line 95, ../sass/screen.scss */
  .R_choice_box .deliver-mint {
    padding: 20px 0 20px 0;
  }
}
@media (min-width: 992px) {
  /* line 101, ../sass/screen.scss */
  .no-padding {
    padding: 0 !important;
  }
}
@media (max-width: 420px) {
  /* line 107, ../sass/screen.scss */
  .toggle-order-now {
    display: none;
  }

  /* line 110, ../sass/screen.scss */
  .food-banner h3 {
    font-size: 14px;
    top: -3px;
  }
}
@media (max-width: 1200px) {
  /* line 117, ../sass/screen.scss */
  .logo-slider .slick-prev {
    left: 46%;
  }

  /* line 120, ../sass/screen.scss */
  .logo-slider .slick-next {
    right: 47%;
  }
}
@media (max-width: 480px) {
  /* line 125, ../sass/screen.scss */
  .R_choice_box .img-box {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }

  /* line 130, ../sass/screen.scss */
  .R_choice_box .detail-res {
    width: 100%;
    text-align: center;
  }

  /* line 134, ../sass/screen.scss */
  .R_choice_box .img-box a img {
    display: inline-block;
  }
}


.recipe_box p{min-height: 60px;}
.shipping-address {display:none;}
