
@media(max-width: 992px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block;
    margin-top: 10px !important; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .navbar-nav {
    left: 0px !important;
    position: relative; }

  .navbar-default{
    background-color: #333!important;
  }
  .res-ser{
    .select2-container--default .select2-selection--multiple{
      border-radius: 0;
    }
  }
  .select2-container{
    margin-bottom: 25px;
  }
  .form-group{
    margin-bottom: 0;
  }
  .search_boxs .form-group{
    margin-left: 0;
  }

  .select-res .selectize-input{
    border-radius: 0;
  }
  .btn-search{
    width: 100%;
    border-radius: 0;
  }
  .search_btn{
    width: 100%;
  }
  .search_boxs {
    padding: 20px;
    background: rgba(0,0,0,.7);
  }
  .wrapper_bg .wrapper-box h2{
    font-size: 32px;
  }
  .logo-slider .slick-prev{
    left: 44.8%!important;
  }
  .logo-slider .slick-next{
    right: 46.2%!important;
  }
  .selectize-control.single .selectize-input.input-active{
    border-radius:0!important;

  }
}

@media (max-width: 768px) {
  .logo-slider .slick-prev,.logo-slider .slick-next{
    display: none!important;
  }
  .R_choice_box .next-btn {
     padding-top: 0;
  }
  .R_choice_box .tak-div {
    padding: 0px 0 10px;
  }
  .R_choice_box .deliver-mint{
    padding: 20px 0 20px 0;
  }
}

@media (min-width: 992px) {
  .no-padding{
    padding: 0!important;
  }
}

@media (max-width: 420px) {
  .toggle-order-now{
    display: none;
  }
  .food-banner h3{
    font-size: 14px;
    top: -3px;
  }
}

@media(max-width: 1200px){
  .logo-slider .slick-prev{
    left: 46%;
  }
  .logo-slider .slick-next{
    right: 47%;
  }
}
@media(max-width:480px){
  .R_choice_box .img-box{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .R_choice_box .detail-res {
    width: 100%;
    text-align: center;
  }
  .R_choice_box .img-box a img {
    display: inline-block;
  }
  .crumbs h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .crumbs .breadcrumb {
    width: 100%;
  }
}