$sidebar_bg:#333333;

$sidebar_dropdown_bg:#404040;

$primary_color: #1b93e1;

$sidebar_txt:#FFF;

$sidebar_link: #FFF;

$base-space-unit: 1em;

/*color variables*/
$success: #54a854;
$primary: #1b93e1;
$info:#6abff6;
$warning:#ec9419;
$danger:#e74c3c;
$default:#FFF;
$inverse: #191919;
$pink: #ff63e3;
$purple: #7a007a;
$turquoise:#40E0D0;